.back {
  display: flex;
  background: transparent;
  border: none;
  margin-bottom: 2rem;
  color: var(--text);
  align-items: center;
  cursor: pointer;
  transition: filter .2s;

  > span {
    margin-left: 0.5rem;
    font-size: 1rem;
  }
}

.back:hover {
  filter: brightness(.8);
}