.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  
  @media(min-width: 850px) {
    flex-direction: row;
    gap: 5rem;
  }

  .side {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;

    ul {
      display: flex;
      flex-direction: column;
      list-style: none;
      flex: 1;

      li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px dashed var(--black-light);
        padding: 1rem;
        border-radius: 8px;
        cursor: pointer;
        margin-bottom: 1rem;
        transition: filter .2s;

        img {
          height: 2rem;
        }

        div {
          display: flex;
          gap: 1rem;
        }

        &.selected {
          background: var(--black-light);
          border-color: var(--placeholder);
        }

        &.validated {
          background: var(--black-dark);
        }

        :hover {
          filter: brightness(.8);
        }
      }
    }

    .registrationInfo {
      display: flex;
      flex-direction: column;

      > img {
        width: 100%;
        height: auto;
        margin-bottom: 2rem;
      }

      > .info {
        align-items: center;
        justify-content: space-between;
        display: flex;
        gap: 1rem;
        margin-bottom: 1rem;

        > div {
          font-size: 0;
        }
      }
    }

    .validation {
      display: flex;
      flex-direction: column;

      > div {
        margin-bottom: 0;
      }

      > div + div {
        display: flex;
        flex: 1;
        gap: 1rem;

        button {
          display: flex;
          flex: 1;

          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}