.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @media(min-width: 850px) {
    flex-direction: row;
    gap: 5rem;
  }

  .side {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;

    ul {
      display: flex;
      flex-direction: column;
      list-style: none;
      flex: 1;
      margin-top: 2rem;

      li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px dashed var(--black-light);
        padding: 1rem;
        border-radius: 8px;
        cursor: pointer;
        margin-bottom: 1rem;
        transition: filter .2s;

        img {
          height: 2rem;
        }

        div {
          display: flex;
          gap: 1rem;
        }

        &.selected {
          background: var(--black-light);
          border-color: var(--placeholder);
        }

        &.validated {
          background: var(--black-dark);
        }

        :hover {
          filter: brightness(.8);
        }
      }
    }

    .personData {
      div {
        flex: 1;
      }
    }

    .registrationInfo {
      display: flex;
      flex-direction: column;
      height: auto;

      .receiptImage {
        width: 100%;
        padding-bottom: 1rem;

        >span {
          position: initial !important;
        }

        .image {
          object-fit: contain;
          width: 100% !important;
          position: relative !important;
          height: unset !important;
        }
      }

      >embed {
        width: 100%;
        margin-bottom: 1rem;
      }

      >.info {
        align-items: center;
        justify-content: space-between;
        display: flex;
        gap: 1rem;
        margin-bottom: 1rem;

        >div {
          font-size: 0;
        }
      }
    }

    .validation {
      display: flex;
      flex-direction: column;

      >div {
        margin-bottom: 0;
      }

      >div+div {
        display: flex;
        flex: 1;
        gap: 1rem;

        button {
          display: flex;
          flex: 1;

          align-items: center;
          justify-content: center;
        }
      }

      .toConfirm {
        display: flex;
        flex: 1;
        flex-direction: column;

        margin-top: 1rem;
        gap: 0;
      }

      .toValidate {
        gap: .5rem;
      }
    }

    .toValidate {
      display: flex;
      flex: 1;

      button {
        flex: 1;
      }
    }
  }
}