.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 700px) {
    padding: 5rem;
  }

  .hello {
    color: var(--primary-light);
    font-size: 2rem;
    font-family: 'Inter';
  }

  .title {
    font-family: 'Staatliches';
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: 0.1em;
  }

  .subtitle {
    font-family: 'Inter';
    text-align: center;
    font-size: 1rem;
    color: var(--text2);

    padding: 2rem 0 3rem;
  }

  .subscribe {
    padding: 1rem 2rem;
    margin: 0;
    border-radius: 8px;
    background: var(--linear);
    border: 0;
    color: var(--text);
    cursor: pointer;
    font-size: 1.1rem;
    font-family: 'Staatliches';
    letter-spacing: 0.1em;
    text-transform: uppercase;
    transition: filter .2s;
  }

  .subscribe:hover {
    filter: brightness(80%);
  }

  .last {
    padding: 5rem 0 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    strong {
      font-family: 'Staatliches', cursive;
      letter-spacing: 0.1em;
      font-size: 2rem;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 2rem;
    }

    div {
      display: flex;
      flex: 1;
    }
  }

  .events {
    padding: 5rem 0 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    strong {
      font-family: 'Staatliches', cursive;
      letter-spacing: 0.1em;
      font-size: 2rem;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 2rem;
    }

    a {
      display: flex;
      text-decoration: none;
      cursor: pointer;
    }

    li {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: filter ease-in-out .2s;
      flex-direction: column;

      img {
        border-radius: 8px;
      }

      .eventInfo {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;

        span {
          font-family: 'Inter';
          text-align: center;
          font-size: 2rem;
          color: var(--text2);
        }
      }
    }

    li:hover {
      filter: brightness(70%);
    }

    .unavailable {
      cursor: not-allowed;
    }

    .unavailable:hover {
      filter: contrast();
    }
  }
}