.inputBlock {
  position: relative;
  margin-bottom: 1rem;
}

.inputBlock label {
  font-size: .9rem;
}

.inputBlock input {
  width: 100%;
  margin-top: 0.3rem;
  border-radius: 4px;
  background: transparent;
  border: 1px solid var(--text);
  outline: 0;
  padding: 0.2rem 0.5rem;
  font-size: 1rem;
  font-family: "Poppins";
  color: var(--text);
}