.receipt {
  margin-top: 1rem;
}

.paymentMode {
  margin: 1rem 0;

  > div {
    span {
      margin-bottom: 0.5rem;
      font-weight: bold;
    }

    > div {    
      flex-direction: column;
      margin-top: 1rem;
    }
  }
}