.container {
  display: flex;
  flex-direction: column;
  width: 100%;

  h1 {
    text-transform: uppercase;
    font-family: 'Staatliches';
    letter-spacing: .3rem;
    font-weight: 500;
    padding-bottom: 1rem;
  }

  span {
    font-family: 'Inter';
    color: var(--text2);
    padding-bottom: 3rem;
  }
}