.button, .loginButton, .buttonRemove {
  background: var(--linear);
  border: 1px solid var(--black-dark);
  color: var(--text);
  font-family: 'Staatliches';
  padding: 1rem 3rem;
  border-radius: 8px;
  cursor: pointer;
  margin: 2rem 0;
  letter-spacing: 0.1rem;

  transition: filter .2s;

  &.cancel {
    background: var(--black-light);
  }
}

.buttonRemove{
  background: var(--toastify-color-error);
}

.button:hover, .loginButton:hover, .buttonRemove:hover {
  filter: brightness(80%);
}

.button:disabled, .loginButton:disabled {
  background: var(--background);
  filter: brightness(80%)
}

.loginButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
}