.container {
  display: flex;
  flex-direction: column;
  width: 100%;

  h3 {
    text-transform: uppercase;
    font-family: 'Staatliches';
    letter-spacing: .3rem;
    font-weight: 500;
    padding-bottom: 1rem;
  }
}