.role {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;

  strong {
    text-transform: uppercase;
    font-weight: 600;
    padding-bottom: .5rem;
  }

  span {
    font-weight: normal;
    padding-bottom: .5rem;
  }
}

.events {
  display: flex;
  flex-direction: column;
  padding: 0 0 2rem;

  ul {
    gap: 1rem;
    border-radius: 8px;
    display: flex;
    width: fit-content;    

    li {
      display: flex;
      flex: 1;
      height: 100%;
      cursor: pointer;
      transition: filter ease-in-out .2s;
      border-radius: 8px;
      border: solid .2rem transparent;

      img {
        border-radius: 8px;
        height: 100%;
      }
    }

    li:hover {
      filter: brightness(70%);
    }
  }

  > span {
    margin-top: 1rem;
    font-size: 1.2rem;
  }

}

.selected {
  border-color: var(--primary-light) !important;
}